.navigation { background-color: #f2f2f2;; }
@media only screen and (max-width: 799px) { .navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, 
.navigation .menu > .current-menu-parent > a { background-color: #f2f2f2;; } }
.navigation.sticky { background: rgb(242,242,242); background: rgba(242,242,242, 0.9);; }
.navigation .mega-menu, .navigation .menu ul { background-color: #f2f2f2;; }
@media only screen and (max-width: 799px) { .navigation .mega-menu.links > li:hover { background-color: #f2f2f2;; } }
.navigation .menu > li:hover, .navigation .menu li li:hover, .navigation .menu li li.current-menu-item,
.navigation .mega-menu .sub-nav li:hover, .navigation .menu .sub-nav li.current-menu-item { background-color: #f2f2f2;; }
@media only screen and (max-width: 799px) { .navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, 
.navigation .menu > .current-menu-parent > a, .navigation .mega-menu.links > li:hover,
.navigation .menu > .current-menu-ancestor > a, .navigation .menu li.active { background-color: #f2f2f2;; } }
.navigation { border-color: #f2f2f2;; }
::selection { background:  #f3af44; }
::-moz-selection { background:  #f3af44; }
.top-bar, .post-content .modern-quote, .mobile-head { border-top-color:  #f3af44; }
.trending-ticker .heading, .breadcrumbs .location, .gallery-title, .related-posts .section-head, 
.post-content a, .comments-list .bypostauthor .comment-author a, .error-page 
.text-404, .main-color, .section-head.prominent, .block.posts .fa-angle-right, a.bbp-author-name, .main-stars span:before,
.main-stars, .recentcomments .url, .nav-light .menu > li:hover > a, .nav-light .menu > .current-menu-item > a, 
.nav-light .menu > .current-menu-parent > a, .nav-light-search .active .search-icon, .nav-light-search .search-icon:hover,
.nav-light .menu li li:hover > a, .nav-light .menu li li.current-menu-item > a, .nav-light .mega-menu .sub-nav li:hover > a, 
.nav-light .menu .sub-nav li.current-menu-item > a { color:  #f3af44; }
.navigation .menu > li:hover > a, .navigation .menu >.current-menu-item > a, .navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a, .tabbed .tabs-list .active a, .nav-search .search-icon:hover, 
.nav-search .active .search-icon, .comment-content .reply, .sc-tabs .active a { border-bottom-color:  #f3af44; }
.main-featured .cat, .main-featured .pages .flex-active, .rate-number .progress, .highlights .rate-number .progress, 
.main-pagination .current, .main-pagination a:hover, .cat-title, .sc-button-default:hover, .drop-caps, .review-box .bar,
.review-box .overall, .post .read-more a, .button, .post-pagination > span { background:  #f3af44; }
.post-content .wpcf7-not-valid-tip, .main-heading, .review-box .heading, .post-header .post-title:before, 
.highlights h2:before, div.bbp-template-notice, div.indicator-hint, div.bbp-template-notice.info, 
.modal-header .modal-title, .entry-title, .page-title { border-left-color:  #f3af44; }
@media only screen and (max-width: 799px) { .navigation .mobile .fa { background:  #f3af44; } }
body, .main .sidebar .widgettitle, .tabbed .tabs-list, h3.gallery-title, .comment-respond small, .main-heading, .gallery-title, .section-head, .main-footer .widgettitle, .entry-title, .page-title { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }
.post-content { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }
.navigation .menu { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }
.highlights .excerpt, .listing-alt .content .excerpt { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }
.post-header h1, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }
h1, h2, h3, h4, h5, h6, .gallery-block .carousel .title a, .list-timeline .posts article, .posts-list .content > a, .block.posts a, 
#bbpress-forums .bbp-topic-title, #bbpress-forums .bbp-forum-title, .bbpress.single-topic .main-heading, .navigate-posts .link { font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;  }